@tailwind components;
@tailwind utilities;

#nmb-plugin {
    display: none;
    z-index: 10000;
    font-family: Helvetica;
    color: black;
    position: fixed;
    top: 5em;
    right: 5em;
}

#nmb-card {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #CF109C, #A21CB7);
    padding: 20px;
    border-radius: .375rem;
    box-shadow: 10px 10px 5px gray;
}

#nmb-card h1 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#nmb-card p {
    font-size: 16px;
    margin-top: 18px;
}

#nmb-card #spinner {
    display:flex;
}

#nmb-card #spinner #spinner-label {
    margin: 5px 10px;
    color: white;
}
